.AppPage {
  text-align: center;
}

.AppPage-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppPage-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.AppPage-title {
  font-size: 1.5em;
}

.AppPage-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
